<section class="god-carousel-container">
      <h2>Gods</h2>
      <!-- arrow buttons -->
        <button class="pre-btn"><img src="./assets/images/arrow.png"></button>
        <button class="nxt-btn"><img src="./assets/images/arrow.png"></button>

        <!-- put event listener on container for all cards for the add button -->
        <div class="carousel">
            <div class="card-container">
              <div class="god-card-full">
                <div class="card-content">
                  <div class="name-class">
                    <!-- character name -->
                    <h3></h3>
                  </div>
                  <div class="card-image-container-full">
                    <img class="card-image-full" src="">
                  </div>
                  <div class="character-info">
                    <!-- character class -->
                    <p><br>
                      <!-- character description -->
                      </p>
                  </div>
                  <div class="points">
                    <!-- attack points -->
                    <br>
                    <!-- defend points -->
                    </p>
                  </div>
                </div>
              </div>
              <!-- <button data-id {{id}} class="something">hi</button> -->
              <button type="button" class="btn btn-primary add-button">Add to deck</button>
            </div>
        </div>
</section>

<section class="beast-carousel-container">
      <h2>Beasts</h2>
      <!-- arrow buttons -->
        <button class="pre-btn"><img src="./assets/images/arrow.png"></button>
        <button class="nxt-btn"><img src="./assets/images/arrow.png"></button>

        <!-- put event listener on container for all cards for the add button -->
        <div class="carousel">
            <div class="card-container">
              <div class="beast-card-full">
                <div class="card-content">
                  <div class="name-class">
                    <!-- character name -->
                    <h3></h3>
                  </div>
                  <div class="card-image-container-full">
                    <img class="card-image-full" src="">
                  </div>
                  <div class="character-info">
                    <!-- character class -->
                    <p><br>
                      <!-- character description -->
                      </p>
                  </div>
                  <div class="points">
                    <!-- attack points -->
                    <br>
                    <!-- defense points -->
                    </p>
                  </div>
                </div>
              </div>
              <!-- <button data-id {{id}} class="something">hi</button> -->
              <button type="button" class="btn btn-primary add-button">Add to deck</button>
            </div>
        </div>
</section>

    <script src="../public/js/createdeck.js"></script>