 <h1>Gods and Beasts</h1>
        <div id="logo">
            <img src="/public/images/logo.png">
        </div>
        <button type="button" class="btn btn-primary btn-lg" id="start-btn">Start</button>